This notebook contains the tasks for the capstone project of the ibm data science specialization.

### Week 1

In [39]:
import pandas as pd
import numpy as np

In [40]:
print('Hello Capstone Project Course!')

Hello Capstone Project Course!

### Week 3

#### Task 1

After a websearch for how to extract data saved on a website using pandas, we download the information on the wikipedia page using the read_html method and look at the data:

In [41]:
import pandas as pd
df_scraped = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M', header = 0)
df_scraped

[    Postal Code           Borough  \
 0           M1A      Not assigned
 1           M2A      Not assigned
 2           M3A        North York
 3           M4A        North York
 4           M5A  Downtown Toronto
 ..          ...               ...
 175         M5Z      Not assigned
 176         M6Z      Not assigned
 177         M7Z      Not assigned
 178         M8Z         Etobicoke
 179         M9Z      Not assigned

                                          Neighbourhood
 0                                         Not assigned
 1                                         Not assigned
 2                                            Parkwoods
 3                                     Victoria Village
 4                            Regent Park, Harbourfront
 ..                                                 ...
 175                                       Not assigned
 176                                       Not assigned
 177                                       Not assigned
 178  Mimico NW, The Queensway West, South of Bloor,...
 179                                       Not assigned

 [180 rows x 3 columns],
                                           Unnamed: 0  \
 0  NL NS PE NB QC ON MB SK AB BC NU/NT YT A B C E...
 1                                                 NL
 2                                                  A

                                Canadian postal codes  \
 0  NL NS PE NB QC ON MB SK AB BC NU/NT YT A B C E...
 1                                                 NS
 2                                                  B

                                           Unnamed: 2 Unnamed: 3 Unnamed: 4  \
 0  NL NS PE NB QC ON MB SK AB BC NU/NT YT A B C E...        NaN        NaN
 1                                                 PE         NB         QC
 2                                                  C          E          G

   Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9 Unnamed: 10  \
 0        NaN        NaN        NaN        NaN        NaN         NaN
 1         QC         QC         ON         ON         ON          ON
 2          H          J          K          L          M           N

   Unnamed: 11 Unnamed: 12 Unnamed: 13 Unnamed: 14 Unnamed: 15 Unnamed: 16  \
 0         NaN         NaN         NaN         NaN         NaN         NaN
 1          ON          MB          SK          AB          BC       NU/NT
 2           P           R           S           T           V           X

   Unnamed: 17
 0         NaN
 1          YT
 2           Y  ,
   NL NS PE NB QC QC.1 QC.2 ON ON.1 ON.2 ON.3 ON.4 MB SK AB BC NU/NT YT
 0  A  B  C  E  G    H    J  K    L    M    N    P  R  S  T  V     X  Y]

we notice the various dimensions of the dataframe and reduce the dimension by accessing subsets of the dataframe

In [42]:
df_scraped[0]

,Postal Code,Borough,Neighbourhood
0,M1A,Not assigned,Not assigned
1,M2A,Not assigned,Not assigned
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,Not assigned
176,M6Z,Not assigned,Not assigned
177,M7Z,Not assigned,Not assigned
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,Not assigned

In this case accessing the dataframe via the 0-th indices leads to the result we were searching for. We thus save this result in a dataframe called df_toronto. We notice that there are many 'Not assigned' entries, as mentioned in the instructions.

In [43]:
df_toronto = df_scraped[0]
df_toronto

,Postal Code,Borough,Neighbourhood
0,M1A,Not assigned,Not assigned
1,M2A,Not assigned,Not assigned
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,Not assigned
176,M6Z,Not assigned,Not assigned
177,M7Z,Not assigned,Not assigned
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,Not assigned

We clean the "not assigned" rows for the Borough-Column by applying a mask and thus delete the rows with the 'Not assigned' values. We notice the new shape of the resulting data frame. We overwrite the existing df_toronto dataframe with the cleaned dataframe.

In [44]:
df_toronto_to_drop = (df_toronto['Borough'] == 'Not assigned')
df_toronto_not_to_drop = ~df_toronto_to_drop
df_toronto = df_toronto[df_toronto_not_to_drop]
print(df_toronto.shape)
df_toronto

(103, 3)

,Postal Code,Borough,Neighbourhood
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
5,M6A,North York,"Lawrence Manor, Lawrence Heights"
6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
160,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
165,M4Y,Downtown Toronto,Church and Wellesley
168,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
169,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

In [7]:
#df_toronto.reset_index(inplace=True)

In [45]:
# Looking at the data frame shows that there are no Neighbourhoods with the 'Not assigned' entry
# However, we proceed with the case that there will be an entry with 'Not assigned in the future'

# we follow up on the same idea and assign the name of the borough to the neighborhood for each identified index
indices = []
df_toronto.iloc[:,:]

# We search for the indices where the neighborhood has a 'not assigned' attribute
series1 = df_toronto['Neighbourhood']
liste1 = series1.tolist()

series2 = df_toronto['Borough']
liste2 = series2.tolist()

for i in range(len(liste1)):
    if liste1[i] == 'Not assigned':
        print(liste1[i])
        indices.append(i)
        liste1[i] = liste2[i]
        print('change made in index ', i)
    else:
        print('ok, no change for index', i, 'as there is no "not assigned" entry for this index')
indices

ok, no change for index 0 as there is no "not assigned" entry for this index
ok, no change for index 1 as there is no "not assigned" entry for this index
ok, no change for index 2 as there is no "not assigned" entry for this index
ok, no change for index 3 as there is no "not assigned" entry for this index
ok, no change for index 4 as there is no "not assigned" entry for this index
ok, no change for index 5 as there is no "not assigned" entry for this index
ok, no change for index 6 as there is no "not assigned" entry for this index
ok, no change for index 7 as there is no "not assigned" entry for this index
ok, no change for index 8 as there is no "not assigned" entry for this index
ok, no change for index 9 as there is no "not assigned" entry for this index
ok, no change for index 10 as there is no "not assigned" entry for this index
ok, no change for index 11 as there is no "not assigned" entry for this index
ok, no change for index 12 as there is no "not assigned" entry for this index
ok, no change for index 13 as there is no "not assigned" entry for this index
ok, no change for index 14 as there is no "not assigned" entry for this index
ok, no change for index 15 as there is no "not assigned" entry for this index
ok, no change for index 16 as there is no "not assigned" entry for this index
ok, no change for index 17 as there is no "not assigned" entry for this index
ok, no change for index 18 as there is no "not assigned" entry for this index
ok, no change for index 19 as there is no "not assigned" entry for this index
ok, no change for index 20 as there is no "not assigned" entry for this index
ok, no change for index 21 as there is no "not assigned" entry for this index
ok, no change for index 22 as there is no "not assigned" entry for this index
ok, no change for index 23 as there is no "not assigned" entry for this index
ok, no change for index 24 as there is no "not assigned" entry for this index
ok, no change for index 25 as there is no "not assigned" entry for this index
ok, no change for index 26 as there is no "not assigned" entry for this index
ok, no change for index 27 as there is no "not assigned" entry for this index
ok, no change for index 28 as there is no "not assigned" entry for this index
ok, no change for index 29 as there is no "not assigned" entry for this index
ok, no change for index 30 as there is no "not assigned" entry for this index
ok, no change for index 31 as there is no "not assigned" entry for this index
ok, no change for index 32 as there is no "not assigned" entry for this index
ok, no change for index 33 as there is no "not assigned" entry for this index
ok, no change for index 34 as there is no "not assigned" entry for this index
ok, no change for index 35 as there is no "not assigned" entry for this index
ok, no change for index 36 as there is no "not assigned" entry for this index
ok, no change for index 37 as there is no "not assigned" entry for this index
ok, no change for index 38 as there is no "not assigned" entry for this index
ok, no change for index 39 as there is no "not assigned" entry for this index
ok, no change for index 40 as there is no "not assigned" entry for this index
ok, no change for index 41 as there is no "not assigned" entry for this index
ok, no change for index 42 as there is no "not assigned" entry for this index
ok, no change for index 43 as there is no "not assigned" entry for this index
ok, no change for index 44 as there is no "not assigned" entry for this index
ok, no change for index 45 as there is no "not assigned" entry for this index
ok, no change for index 46 as there is no "not assigned" entry for this index
ok, no change for index 47 as there is no "not assigned" entry for this index
ok, no change for index 48 as there is no "not assigned" entry for this index
ok, no change for index 49 as there is no "not assigned" entry for this index
ok, no change for index 50 as there is no "not assigned" entry for this index
ok, no change for index 51 as there is no "not assigned" entry for this index
ok, no change for index 52 as there is no "not assigned" entry for this index
ok, no change for index 53 as there is no "not assigned" entry for this index
ok, no change for index 54 as there is no "not assigned" entry for this index
ok, no change for index 55 as there is no "not assigned" entry for this index
ok, no change for index 56 as there is no "not assigned" entry for this index
ok, no change for index 57 as there is no "not assigned" entry for this index
ok, no change for index 58 as there is no "not assigned" entry for this index
ok, no change for index 59 as there is no "not assigned" entry for this index
ok, no change for index 60 as there is no "not assigned" entry for this index
ok, no change for index 61 as there is no "not assigned" entry for this index
ok, no change for index 62 as there is no "not assigned" entry for this index
ok, no change for index 63 as there is no "not assigned" entry for this index
ok, no change for index 64 as there is no "not assigned" entry for this index
ok, no change for index 65 as there is no "not assigned" entry for this index
ok, no change for index 66 as there is no "not assigned" entry for this index
ok, no change for index 67 as there is no "not assigned" entry for this index
ok, no change for index 68 as there is no "not assigned" entry for this index
ok, no change for index 69 as there is no "not assigned" entry for this index
ok, no change for index 70 as there is no "not assigned" entry for this index
ok, no change for index 71 as there is no "not assigned" entry for this index
ok, no change for index 72 as there is no "not assigned" entry for this index
ok, no change for index 73 as there is no "not assigned" entry for this index
ok, no change for index 74 as there is no "not assigned" entry for this index
ok, no change for index 75 as there is no "not assigned" entry for this index
ok, no change for index 76 as there is no "not assigned" entry for this index
ok, no change for index 77 as there is no "not assigned" entry for this index
ok, no change for index 78 as there is no "not assigned" entry for this index
ok, no change for index 79 as there is no "not assigned" entry for this index
ok, no change for index 80 as there is no "not assigned" entry for this index
ok, no change for index 81 as there is no "not assigned" entry for this index
ok, no change for index 82 as there is no "not assigned" entry for this index
ok, no change for index 83 as there is no "not assigned" entry for this index
ok, no change for index 84 as there is no "not assigned" entry for this index
ok, no change for index 85 as there is no "not assigned" entry for this index
ok, no change for index 86 as there is no "not assigned" entry for this index
ok, no change for index 87 as there is no "not assigned" entry for this index
ok, no change for index 88 as there is no "not assigned" entry for this index
ok, no change for index 89 as there is no "not assigned" entry for this index
ok, no change for index 90 as there is no "not assigned" entry for this index
ok, no change for index 91 as there is no "not assigned" entry for this index
ok, no change for index 92 as there is no "not assigned" entry for this index
ok, no change for index 93 as there is no "not assigned" entry for this index
ok, no change for index 94 as there is no "not assigned" entry for this index
ok, no change for index 95 as there is no "not assigned" entry for this index
ok, no change for index 96 as there is no "not assigned" entry for this index
ok, no change for index 97 as there is no "not assigned" entry for this index
ok, no change for index 98 as there is no "not assigned" entry for this index
ok, no change for index 99 as there is no "not assigned" entry for this index
ok, no change for index 100 as there is no "not assigned" entry for this index
ok, no change for index 101 as there is no "not assigned" entry for this index
ok, no change for index 102 as there is no "not assigned" entry for this index

[]

We are now done with part 1 of the assignment, our final data frame and its shape are:

In [46]:
df_toronto

,Postal Code,Borough,Neighbourhood
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
5,M6A,North York,"Lawrence Manor, Lawrence Heights"
6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
160,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
165,M4Y,Downtown Toronto,Church and Wellesley
168,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
169,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

The shape of the final result is:

In [47]:
df_toronto.shape

(103, 3)

#### Task 2

I get an error message when I try to import the geocoder, thus I use the link to the csv file to import it:

In [48]:
path = 'https://cocl.us/Geospatial_data'
df_geospatial = pd.read_csv(path)
df_geospatial

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

We need to correct the index of the df_toronto data frame in order to merge the two frames later on.

In [49]:
df_toronto.reset_index(inplace=True)

In [ ]:
#df_toronto.rename(columns={'index' : 'index', 'Postal Code' : 'Postal Code', 'Borough' : 'Borough', 'Neighbourhood' : 'Neighborhood'})

We note that the dataframe of  the geospatial data begins with different Postal Codes than the df_toronto dataframe starts with. Thus, we first sort both of the data frames such that there order is the same

In [54]:
df_geospatial.sort_values('Postal Code', axis=0, inplace=True)
df_geospatial

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

We repeat the same sorting operation with the df_toronto dataframe

In [55]:
df_toronto.sort_values('Postal Code', axis=0, inplace=True)
df_toronto

/opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

,index,Postal Code,Borough,Neighbourhood
6,9,M1B,Scarborough,"Malvern, Rouge"
12,18,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek"
18,27,M1E,Scarborough,"Guildwood, Morningside, West Hill"
22,36,M1G,Scarborough,Woburn
26,45,M1H,Scarborough,Cedarbrae
...,...,...,...,...
64,98,M9N,York,Weston
70,107,M9P,Etobicoke,Westmount
77,116,M9R,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ..."
89,143,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest..."
94,152,M9W,Etobicoke,"Northwest, West Humber - Clairville"

In [66]:
df_toronto_merged = df_toronto
df_toronto_merged['Latitude'] = df_geospatial['Latitude']
df_toronto_merged['Longitude'] = df_geospatial['Longitude']

/opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
/opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()

In [67]:
df_toronto_merged

,index,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,6,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,12,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,18,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,22,M1G,Scarborough,Woburn,43.770992,-79.216917
4,26,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
...,...,...,...,...,...,...
98,64,M9N,York,Weston,43.706876,-79.518188
99,70,M9P,Etobicoke,Westmount,43.696319,-79.532242
100,77,M9R,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ...",43.688905,-79.554724
101,89,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest...",43.739416,-79.588437
102,94,M9W,Etobicoke,"Northwest, West Humber - Clairville",43.706748,-79.594054

We reset the index

In [70]:
df_toronto.reset_index(inplace=True)
df_toronto

,level_0,index,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,0,6,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,1,12,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,2,18,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,3,22,M1G,Scarborough,Woburn,43.770992,-79.216917
4,4,26,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
...,...,...,...,...,...,...,...
98,98,64,M9N,York,Weston,43.706876,-79.518188
99,99,70,M9P,Etobicoke,Westmount,43.696319,-79.532242
100,100,77,M9R,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ...",43.688905,-79.554724
101,101,89,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest...",43.739416,-79.588437
102,102,94,M9W,Etobicoke,"Northwest, West Humber - Clairville",43.706748,-79.594054

We get rid of columns we do not need.

In [71]:
df_toronto_merged.drop(['index','level_0'], axis=1, inplace=True)
df_toronto_merged

/opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
...,...,...,...,...,...
98,M9N,York,Weston,43.706876,-79.518188
99,M9P,Etobicoke,Westmount,43.696319,-79.532242
100,M9R,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ...",43.688905,-79.554724
101,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest...",43.739416,-79.588437
102,M9W,Etobicoke,"Northwest, West Humber - Clairville",43.706748,-79.594054

Our following dataframe is sorted by the postal code and is the result of merging the geospatial data (sorted by postal code) and the toronto dataframe (also sorted by postal code):

In [76]:
df_toronto_merged.sort_values('Postal Code', axis=0,inplace=True)

/opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [78]:
df_toronto_merged.head(12)

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
5,M1J,Scarborough,Scarborough Village,43.744734,-79.239476
6,M1K,Scarborough,"Kennedy Park, Ionview, East Birchmount Park",43.727929,-79.262029
7,M1L,Scarborough,"Golden Mile, Clairlea, Oakridge",43.711112,-79.284577
8,M1M,Scarborough,"Cliffside, Cliffcrest, Scarborough Village West",43.716316,-79.239476
9,M1N,Scarborough,"Birch Cliff, Cliffside West",43.692657,-79.264848
10,M1P,Scarborough,"Dorset Park, Wexford Heights, Scarborough Town...",43.757410,-79.273304
11,M1R,Scarborough,"Wexford, Maryvale",43.750072,-79.295849

#### Task 3